@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-100: #ff9e00;
  --primary-200: #ff9100;
  --primary-300: #ff8500;
  --primary-400: #ff7900;
  --primary-500: #ff6d00;
  --secondary-100: #9d4edd;
  --secondary-200: #7b2cbf;
  --secondary-300: #5a189a;
  --secondary-400: #3c096c;
  --secondary-500: #240046;
  --primwriting-100: #ffffff;
  --primwriting-200: #e0e0e0;
  --primwriting-300: #c2c2c2;
  --primwriting-400: #a3a3a3;
  --primwriting-500: #858585;
  --secwriting-100: #7a7a7a;
  --secwriting-200: #5c5c5c;
  --secwriting-300: #3d3d3d;
  --secwriting-400: #1f1f1f;
  --secwriting-500: #000000; 
  --background: var(--primary-100);
  --foreground: var(--secondary-500);
}

[data-theme="dark"] {
  --primary-100: #240046;
  --primary-200: #3c096c;
  --primary-300: #5a189a;
  --primary-400: #7b2cbf;
  --primary-500: #9d4edd;
  --secondary-100: #ff6d00;
  --secondary-200: #ff7900;
  --secondary-300: #ff8500;
  --secondary-400: #ff9100;
  --secondary-500: #ff9e00;
  --primwriting-100: #000000;
  --primwriting-200: #1f1f1f;
  --primwriting-300: #3d3d3d;
  --primwriting-400: #5c5c5c;
  --primwriting-500: #7a7a7a;
  --secwriting-100: #ffffff;
  --secwriting-200: #e0e0e0;
  --secwriting-300: #c2c2c2;
  --secwriting-400: #a3a3a3;
  --secwriting-500: #858585;
  --background: var(--primary-100);
  --foreground: var(--secondary-500);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
