@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-50: #fffcea;
  --primary-100: #fff4c5;
  --primary-200: #ffe885;
  --primary-300: #ffd546;
  --primary-400: #ffc11b;
  --primary-500: #ff9e00;
  --primary-600: #e27600;
  --primary-700: #bb5002;
  --primary-800: #983e08;
  --primary-900: #7c330b;
  --primary-950: #481800;
  --secondary-50: #faf5ff;
  --secondary-100: #f2e7ff;
  --secondary-200: #e7d3ff;
  --secondary-300: #d5b0ff;
  --secondary-400: #bc7eff;
  --secondary-500: #a049ff;
  --secondary-600: #8c2af3;
  --secondary-700: #791ad6;
  --secondary-800: #671aaf;
  --secondary-900: #55178c;
  --secondary-950: #380269;
  --background: var(--primary-100);
  --foreground: var(--secondary-500);
}

[data-theme="dark"] {
  
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
